body {
    padding-top: 55px;
    padding-bottom: 30px;
}

#footerOptions {
    color: #fccf93;
    height: 30px;
}

#footerOptions :hover {
    color: white;
}

.left-side-footer {
    float: left;
    margin-left: 5px;
}

.right-side-footer {
    float: right;
    margin-right: 5px;
}

.navbar-inverse {
    background-color: #a65119;
    border-color: #f39641;
    color: #fccf93;
}

.navbar-fixed-top :hover {
    color: white;
    letter-spacing: 3px;
}

.navbar-fixed-bottom {
    min-height: 28px !important;
}

.control-label {
    text-align: left !important;
}

.header {
    text-align: center;
    padding-top: 10px;
    font-size: 30px;
    font-family: "Comic Sans MS";
    font-weight: bold;
}

.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}

.token-text-label {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #f39641;
}

.token-text {
    text-align: center;
    font-size: 19px;
}